---
const personalImageAlt = "Naiker - Programador Backend y Creador de Contenido";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Naiker, <strong>programador backend</strong> con más de 2 años de experiencia
      construyendo <strong>soluciones robustas y escalables</strong> para aplicaciones
      web y servicios API.
    </p>

    <p>
      Mi enfoque está en el desarrollo de <strong
        >arquitecturas sólidas, eficientes y seguras</strong
      >, trabajando con las mejores prácticas de la industria.
    </p>

    <p>
      Además de mi trabajo como programador, también soy <strong
        >creador de contenido</strong
      > en el área de tecnología, donde comparto conocimientos para ayudar a otros
      desarrolladores a crecer profesionalmente.
    </p>

    <p>
      Siempre estoy en constante aprendizaje y evolución, comprometido en
      ofrecer <strong>resultados de alta calidad</strong> y aportar valor a cada
      proyecto en el que participo.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://media.licdn.com/dms/image/v2/D4E03AQEYJCmIlpqE7w/profile-displayphoto-shrink_800_800/B4EZcJratgHcAc-/0/1748214067154?e=1753920000&v=beta&t=qg34xXptjIQDDFHx_vovBVUfrBQP-OxGZGoLZs7NDrg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
